# Arquivo de variáveis de ambiente
.env

# Pastas de compilação e publicação
bin/
obj/
publish/

# Arquivos de usuário do Visual Studio
*.user
*.suo
*.csproj.user

# Ignorar certificados e arquivos sensíveis
certificado/
*.pfx
*.pem
*.key
*.crt
*.cer
*.jks
*.p12

# Ignorar arquivos de configuração sensíveis (tokens/senhas)
clientes/*/config.json

# Arquivos gerados em tempo de execução
clientes/*/downtime_report.json
clientes/*/downtime.txt
