<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Mantém URL como /materdei mas serve o conteúdo do Monitor.html -->
        <rule name="Cliente Materdei" stopProcessing="true">
          <match url="^materdei$" />
          <action type="Rewrite" url="/Monitor.html?cliente=materdei" />
        </rule>
        
        <!-- Padrão para adicionar mais clientes:
        <rule name="Cliente NOME" stopProcessing="true">
          <match url="^NOME$" />
          <action type="Rewrite" url="/Monitor.html?cliente=NOME" />
        </rule>
        -->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
